body {
    font-size: 17px;
    background: #f9f9f9;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.register, .saveOrder, .closeOrder, .findClientArea, .findBookArea, .bookViolation {
    width: 700px;
    background: #fff;
    padding: 15px 40px 40px;
    border: 3px solid #ccc;
    margin: 40px auto 0;
    border-radius: 5px;
}

.allBooksOrClients {
    width: 77%;
    background: #fff;
    padding: 15px 40px 40px;
    border: 3px solid #ccc;
    margin: 40px auto 0;
    border-radius: 5px;
}

.img-item img {
    display: inline-block;
    margin: 0 20px 20px 0;
    position: relative;
    user-select: none;
    border: 1px solid #767676;
    width: 180px;
    height: 230px;
}

.error, .errorGenre, .errorAuthor, .filesError {
    width: 50%;
    padding: 0;
    font-size: 100%;
    color: white;
    background-color: #db2d2d;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.button_in_line {
    display: inline-block;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    border-color: lightslategray;
    background-color: white;
    color: lightslategray;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 35px;
    border-right: none;
    margin: 6px;
    padding: 6px 12px 6px 12px;
}

.button:hover {
    border-color: lightslategray;
    background-color: #b61e3c;
    color: #ffffff;
}

.logoDiv {
    background: #dde2e8;
    width: 100%;
    height: 100px;
}

.logoImage {
    padding: 5px;
    height: 90px;
}

.mostPopularBooks {
    padding: 5px 40px 40px 77px;
}
